{
  "require": {
    "shoppingfeed/php-feed-generator": "1.2.0",
    "shoppingfeed/php-sdk": "0.2.5",
    "guzzlehttp/guzzle": "^6.0"
  },
  "config": {
    "vendor-dir": "vendor"
  },
  "autoload": {
    "files": [
      "vendor/prefixed/guzzlehttp/guzzle/src/functions_include.php",
      "vendor/prefixed/guzzlehttp/psr7/src/functions_include.php",
      "vendor/prefixed/guzzlehttp/promises/src/functions_include.php"
    ],
    "psr-4": {
      "ShoppingfeedClasslib\\":          "vendor/totpsclasslib/src/",
      "SfGuzzle\\GuzzleHttp\\":          "vendor/prefixed/guzzlehttp/guzzle/src/",
      "SfGuzzle\\GuzzleHttp\\Psr7\\":    "vendor/prefixed/guzzlehttp/psr7/src/",
      "SfGuzzle\\GuzzleHttp\\Promise\\": "vendor/prefixed/guzzlehttp/promises/src/",
      "ShoppingFeed\\Sdk\\":             "vendor/prefixed/shoppingfeed/php-sdk/src/",
      "ShoppingfeedAddon\\":             "src"
    }
  },
  "scripts": {
    "pre-autoload-dump": "if [ ${TOTPSCLASSLIB_DEV_PATH} ]; then php ${TOTPSCLASSLIB_DEV_PATH}/classlib/refresh.php .; fi"
  }
}
