name: Coding Standart
on: [pull_request]
jobs:
    # Check there is no syntax errors in the project
    php-linter:
        name: PHP Syntax check 7.1
        runs-on: ubuntu-latest
        steps:
            - name: PHP syntax checker 7.1
              uses: prestashop/github-action-php-lint/7.1@master
              with:
                folder-to-exclude: "! -path \"./202/*\""

    # Check the PHP code follow the coding standards
    php-cs-fixer:
        name: PHP-CS-Fixer
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                    php-version: '7.4'

            - name: Checkout
              uses: actions/checkout@v2.0.0

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                path: vendor
                key: php-${{ hashFiles('composer.lock') }}

            - name: Install dependencies
              run: composer update

            - name: Run PHP-CS-Fixer
              run: ./vendor/bin/php-cs-fixer fix --dry-run --diff --using-cache=no

    # Run PHPStan against the module and a PrestaShop release
    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        strategy:
            matrix:
                presta-versions: ['1.7.4.0', 'latest']
        steps:
            - name: Checkout
              uses: actions/checkout@v2.0.0

            # Add vendor folder in cache to make next builds faster
            - name: Cache vendor folder
              uses: actions/cache@v4
              with:
                  path: vendor
                  key: php-${{ hashFiles('composer.lock') }}

            # Add composer local folder in cache to make next builds faster
            - name: Cache composer folder
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache
                  key: php-composer-cache

            - run: composer update

            # Docker images prestashop/prestashop may be used, even if the shop remains uninstalled
            - name: Pull PrestaShop files (Tag ${{ matrix.presta-versions }})
              run: docker run -tid --rm -v ps-volume:/var/www/html --name temp-ps prestashop/prestashop:${{ matrix.presta-versions }}

            # Clear previous instance of the module in the PrestaShop volume
            - name: Clear previous module
              run: docker exec -t temp-ps rm -rf /var/www/html/modules/shoppingfeed

            # Run a container for PHPStan, having access to the module content and PrestaShop sources.
            # This tool is outside the composer.json because of the compatibility with PHP 5.6
            - name : Run PHPStan
              run: docker run --rm --volumes-from temp-ps -v $PWD:/var/www/html/modules/shoppingfeed -e _PS_ROOT_DIR_=/var/www/html --workdir=/var/www/html/modules/shoppingfeed phpstan/phpstan:0.12 analyse --configuration=/var/www/html/modules/shoppingfeed/202/phpstan/phpstan.neon
